.sec-answer {
  // display: none;
  height: 0;
  visibility: hidden;
  background-color: #f5f5f5;
  opacity: 0;
  transition: opacity 0.6s $ease-out-sine, visibility 0.6s $ease-out-sine;

  .answer {
    position: relative;
    display: none;

    &__head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100vh;

      .mv {
        &__bg {
          position: fixed;
          top: 16%;
          z-index: 1;
          width: 100%;
          height: 26.6vw;
          background: url('/assets/images/pages/index/1-1-1-1.jpg') repeat-x;
          background-size: 25%;
          box-shadow: rgb(105 105 105) 0 10px 15px -5px;
          opacity: 0.4;
          -webkit-transition: ease-in-out 0.3s;
          -moz-transition: ease-in-out 0.3s;
          -ms-transition: ease-in-out 0.3s;
          -o-transition: ease-in-out 0.3s;
          transition: ease-in-out 0.3s;
          animation: scroll-anim 14s linear infinite;

          &.is-active {
            filter: grayscale(100%);
            opacity: 0.05;
            -webkit-transition: ease-in-out 0.3s;
            -moz-transition: ease-in-out 0.3s;
            -ms-transition: ease-in-out 0.3s;
            -o-transition: ease-in-out 0.3s;
            transition: ease-in-out 0.3s;
          }

          @keyframes scroll-anim {
            100% {
              background-position: -100% 0;
            }
          }
        }

        &__img {
          position: relative;
          z-index: 2;
          margin: 0 55px 30px;
          border: 5px solid #000;
          border-radius: 10px;
          box-shadow: rgb(105 105 105) 0 20px 30px -10px;

          img {
            width: 100%;
            height: auto;
          }
        }

        &__title {
          margin: 0 auto 55px;
        }
      }
    }

    &__body {
      display: none;
      padding: 80px 0;
      font-size: 5.1vw;
      line-height: 1.7;
      background-color: #348ecc;

      .content {
        width: 89.3333333333vw;
        padding: 4.5333333333vw 5.3333333333vw 5.5666666667vw;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 0.8vw solid #000;
        border-radius: 3.2vw;
        -webkit-box-shadow: 1.2vw 1.2vw 0 0 #025bb4;
        box-shadow: 1.2vw 1.2vw 0 0 #025bb4;
      }

      .appeal {
        // display: none;
        padding: 0 10.6666666667vw;
        margin: 60px 0 0 0;

        // &.is-active {
        //   display: block;
        // }

        &__link {
          border: 0.8vw solid #1da1f1;
          border-radius: 3.2vw;
          box-shadow: 1.2vw 1.2vw 0 0 #025bb4;

          img {
            width: 100%;
            height: auto;
          }

          &--return {
            position: relative;
            width: 78.6666666667vw;
            padding: 3.5333333333vw 5.3333333333vw 4.0666666667vw 8.3333333333vw;
            margin: 60px auto 0;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            background-color: #cce3f2;
            border: 0.8vw solid #000;
            border-radius: 3.2vw;
            -webkit-box-shadow: 1.2vw 1.2vw 0 0 #025bb4;
            box-shadow: 1.2vw 1.2vw 0 0 #025bb4;

            &::after {
              position: absolute;
              top: 24px;
              left: 33px;
              width: 14px;
              height: 14px;
              content: '';
              border: 3px solid;
              border-color: #565656 #565656 transparent transparent;
              transform: rotate(225deg);
              -webkit-transform: rotate(225deg);
              -moz-transform: rotate(225deg);
              -ms-transform: rotate(225deg);
              -o-transform: rotate(225deg);
            }
          }
        }
      }

      &.is-active {
        display: block;
      }
    }

    &.is-active {
      display: block;
    }
  }

  &.is-active {
    display: block;
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s $ease-out-sine, visibility 0.6s $ease-out-sine;
  }
}
